# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart.bak

# IDE
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/local.properties
android/app/.cxx/
android/key.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/GeneratedPluginRegistrant.kt

# Symbolication / obfuscation
app.*.symbols
app.*.map.json
